*.mp4
*.m4v
*.npz
__pycache__/

.DS_Store
MUJOCO_LOG.TXT
*.log
WiLoR/
mano_data/
mano_v1_2/
pretrained_models/
video_out/
out_demo/
angle_map/
out_so/
data_capture_ML/images/
test_frame.png
position_log.csv
